*{box-sizing:border-box}body{font-family:Arial, Helvetica, sans-serif;}.container{margin:auto;width:90%;max-width:1000px}p{color:#013535}h1,h2,h3,h4,h5,h6{color:#006161;margin:1rem 0}h3{font-size:2rem}.btn{padding:.6rem;background-color:#008075;color:white;border:0;border-radius:3px;display:inline-block;cursor:pointer;transition:all .3s;font-weight:bold}.btn:hover{filter:brightness(1.2)}form{max-width:70%}form input,form textarea{width:100%;margin-bottom:1rem;padding:.5rem;border-radius:3px;border:1px solid #a1a1a1;}div.comment{padding:.5rem 0;border-bottom:1px solid black;margin-bottom:1rem}
